<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('index') }}">Flaskr</a></h1>
  <ul>
    <body style = "background-color: #fffaf8;">

      <div class="topnav">
          <a href="#ReaderRadar">Reader Radar</a>
          <a href="#Library">Library</a>
          <input type="text" placeholder="Search Books">
          <button type="submit">
              <img src="../Assets/search.png" alt="Search">
          </button>
      </div>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
