<!-- add extend base url -->

{% block header %}
  <h1>{% block title %}Book{% endblock %}</h1>
{% endblock %}

{% block content %}

<!-- Display book cover using Open Library API -->
<h1>{{ book.title }}</h1>

{% if book.isbn %}
  <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-L.jpg" alt="Book Cover">
{% endif %}

<p>Author: {{ book.author }}</p>
<p>ISBN: {{ book.isbn }}</p>
<p>page_length: {{ book.page_length }}</p>
<p>Synopsis: {{ book.synopsis }}</p>
<p>rating: {{ book.rating }}</p>

<!-- for review in review print review -->
{% for review in reviews %}
  <h2>Reviews</h2>
  <p>Rating: {{ review.rating }}</p>
  <p>{{ review.review_text }}</p>
{% endfor %}


{% endblock %}



