<head>
<meta charset = "UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Reader Radar</title>
<link href="https://fonts.googleapis.com/css2?family=Baskervville&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style = "background-color: #fffaf8;">

<div class="topnav">
    <a href="/" class="active">Reader Radar</a>
    <a href="/library">Library</a>
    <form action="/search" method="POST" style="display: inline;">
      <input type="text" name="query" placeholder="Search Books" required>
      <button type="submit">
          <img src="{{ url_for('static', filename='Assets/search.png') }}" alt="Search">
      </button>
    </form>
</div>

<div class="popular-section">
  <div style="padding-top: 50px;">
  </div>
  <h1 class="section-title">Popular Right Now</h1>
  <div class="popular-grid">
    {% for book in books %}
    <div class="card">
      {% include "cover.html" with context %}
      {% include "list_button.html" with context %}
    </div>
    {% endfor %}
  </div>
</div>

  <div class="recommendation-section">
    <h1 class="section-title">Recommendation of the Day</h1>
    <div class="recommendation-grid">
      <div class="recommendation-image">
        <a href="/book/{{ recommendation.id }}">
          <img id="rec_image" src="https://covers.openlibrary.org/b/isbn/{{ recommendation.isbn }}-L.jpg" alt="recommendation" />
        </a>
      </div>
      <div class="recommendation-content">
        <h1 class="section-title">{{ recommendation.title }}</h1>
        <h2 class="section-subtitle">Author: {{ recommendation.author }}</h2>
        <div class = "icons" id="starContainer", rating="{{ recommendation.external_ratings }}">
        </div>
        <body id="rec_synopsis">{{ recommendation.synopsis }}</body>
      </div>
    </div>
  </div>

  <p>Logged in: {{name.first_name}} {{name.last_name}}</p>
  
  <script>
    // Rating for the recommendation of the day
    const starContainer = document.getElementById("starContainer");
    const rating = parseFloat(starContainer.getAttribute("rating")); // Parse as a float
  
    for (let i = 1; i <= 5; i++) {
      const star = document.createElement("span");
      if (i <= Math.floor(rating)) {
        // Full star
        star.className = "fa fa-star checked";
      } else if (i === Math.ceil(rating) && rating % 1 !== 0) {
        // Half star
        star.className = "fa fa-star-half-o";
      } else {
        // Empty star
        star.className = "fa fa-star-o";
      }
      starContainer.appendChild(star);
    }
  </script>

</body>
</html>
