<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reader Radar</title>
  <link href="https://fonts.googleapis.com/css2?family=Baskervville&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="background-color: #fffaf8;">

  <div class="topnav">
    <a href="#ReaderRadar">Reader Radar</a>
    <a href="#Library" class="active">Library</a>
    <input type="text" placeholder="Search Books">
    <button type="submit">
      <img src="../Assets/search.png" alt="Search">
    </button>
  </div>

  <div class="current-section">
    <div style="padding-top: 50px;"></div>
    <h1 class="section-title">Currently Reading</h1>
    <div class="current-grid" id="currentGrids">
      {% for book in current %}
      <div class="card">
        <div>
          <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-L.jpg" alt="{{ book.title }}">
        </div>
        <div class="content">
          <h2 class="card-title">{{ book.title }}</h2>
          <button class="button">Move to Finished</button>
        </div>
      </div>
      {% endfor %}
    </div>
    <div style="padding-bottom: 30px;"></div>
  </div>

  <div class="unread-section">
    <h1 class="section-title">Unread Books</h1>
    <div class="unread-grid" id="unreadGrids">
      {% for book in unread %}
      <div class="card">
        <div>
          <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-L.jpg" alt="{{ book.title }}">
        </div>
        <div class="content">
          <h2 class="card-title">{{ book.title }}</h2>
          <button class="button">Move to Currently Reading</button>
        </div>
      </div>
      {% endfor %}
    </div>
    <div style="padding-bottom: 30px;"></div>
  </div>

  <div class="wishlist-section">
    <h1 class="section-title">Wishlist</h1>
    <div class="wishlist-grid" id="wishlistGrid">
      {% for book in wish_list %}
      <div class="card">
        <div>
          <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-L.jpg" alt="{{ book.title }}">
        </div>
        <div class="content">
          <h2 class="card-title">{{ book.title }}</h2>
          <button class="button">Move to Unread</button>
        </div>
      </div>
      {% endfor %}
    </div>
    <div style="padding-bottom: 30px;"></div>
  </div>

  <div class="finished-section">
    <h1 class="section-title">Finished Books</h1>
    <div class="finished-grid" id="finishedGrids">
      {% for book in finished %}
      <div class="card">
        <div>
          <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-L.jpg" alt="{{ book.title }}">
        </div>
        <div class="content">
          <h2 class="card-title">{{ book.title }}</h2>
          <button class="button">Review</button>
        </div>
      </div>
      {% endfor %}
    </div>
    <div style="padding-bottom: 30px;"></div>
  </div>
  
</body>
</html>
