<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reader Radar</title>
  <link href="https://fonts.googleapis.com/css2?family=Baskervville&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="background-color: #fffaf8;">

  <div class="topnav">
    <a href="/">Reader Radar</a>
    <a href="/library" class="active">Library</a>
    <form action="/search" method="POST" style="display: inline;">
      <input type="text" name="query" placeholder="Search Books" required>
      <button type="submit">
          <img src="{{ url_for('static', filename='Assets/search.png') }}" alt="Search">
      </button>
    </form>
  </div>

  <div class="current-section">
    <div style="padding-top: 50px;"></div>
    <h1 class="section-title">Currently Reading</h1>
    <div class="current-grid" id="currentGrids">
      {% for book in current %}
      <div class="card">
        {% include "cover.html" with context %}
        <div class="content">
          <h2 class="card-title">{{ book.title }}</h2>
          <div class="dropdown">
            <button class="button">Move to List</button>
            <div class="dropdown-content">
              <form method="POST" action="/move-book">
                <input type="hidden" name="book_id" value="{{ book.id }}">
                <input type="hidden" name="old_list_name" value="Current Reads">
                <button type="submit" name="new_list_name" value="Unread">Unread</button>
                <button type="submit" name="new_list_name" value="Wish List">Wish List</button>
                <button type="submit" name="new_list_name" value="Finished">Finished</button>
                <button type="submit" name="new_list_name" value="Remove Book">Remove</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div style="padding-bottom: 30px;"></div>
  </div>

  <div class="unread-section">
    <h1 class="section-title">Unread Books</h1>
    <div class="unread-grid" id="unreadGrids">
      {% for book in unread %}
      <div class="card">
        {% include "cover.html" with context %}
        <div class="content">
          <h2 class="card-title">{{ book.title }}</h2>
          <div class="dropdown">
            <button class="button">Move to List</button>
            <div class="dropdown-content">
              <form method="POST" action="/move-book">
                <input type="hidden" name="book_id" value="{{ book.id }}">
                <input type="hidden" name="old_list_name" value="Unread">
                <button type="submit" name="new_list_name" value="Current Reads">Current</button>
                <button type="submit" name="new_list_name" value="Wish List">Wish List</button>
                <button type="submit" name="new_list_name" value="Finished">Finished</button>
                <button type="submit" name="new_list_name" value="Remove Book">Remove</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div style="padding-bottom: 30px;"></div>
  </div>

  <div class="wishlist-section">
    <h1 class="section-title">Wishlist</h1>
    <div class="wishlist-grid" id="wishlistGrid">
      {% for book in wish_list %}
      <div class="card">
        {% include "cover.html" with context %}
        <div class="content">
          <h2 class="card-title">{{ book.title }}</h2>
          <div class="dropdown">
            <button class="button">Move to List</button>
            <div class="dropdown-content">
              <form method="POST" action="/move-book">
                <input type="hidden" name="book_id" value="{{ book.id }}">
                <input type="hidden" name="old_list_name" value="Wish List">
                <button type="submit" name="new_list_name" value="Current Reads">Current</button>
                <button type="submit" name="new_list_name" value="Unread">Unread</button>
                <button type="submit" name="new_list_name" value="Finished">Finished</button>
                <button type="submit" name="new_list_name" value="Remove Book">Remove</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div style="padding-bottom: 30px;"></div>
  </div>

  <div class="finished-section">
    <h1 class="section-title">Finished Books</h1>
    <div class="finished-grid" id="finishedGrids">
      {% for book in finished %}
      <div class="card">
        {% include "cover.html" with context %}
        <div class="content">
          <h2 class="card-title">{{ book.title }}</h2>
          <div class="dropdown">
            <button class="button">Move to List</button>
            <div class="dropdown-content">
              <form method="POST" action="/move-book">
                <input type="hidden" name="book_id" value="{{ book.id }}">
                <input type="hidden" name="old_list_name" value="Finished">
                <button type="submit" name="new_list_name" value="Current Reads">Current</button>
                <button type="submit" name="new_list_name" value="Unread">Unread</button>
                <button type="submit" name="new_list_name" value="Wish List">Wish List</button>
                <button type="submit" name="new_list_name" value="Remove Book">Remove</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div style="padding-bottom: 30px;"></div>
  </div>

  {% include "footer.html" with context %}

</body>
</html>
