<div class="dropdown">
  <button class="button">Move to List</button>
  <div class="dropdown-content">
    <form method="POST" action="/add-book">
      <input type="hidden" name="book_id" value="{{ book.id }}">
      <input type="hidden" name="old_list_name" value="">
      <button type="submit" name="new_list_name" value="Current Reads">Current</button>
      <button type="submit" name="new_list_name" value="Unread">Unread</button>
      <button type="submit" name="new_list_name" value="Wish List">Wish List</button>
      <button type="submit" name="new_list_name" value="Finished">Finished</button>
    </form>
  </div>
</div>
