
    <div style="width: 496px; height: 693px; left: 472px; top: 165px; position: absolute; background: #FFFAF8; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)"></div>
    <div style="left: 573px; top: 601px; position: absolute; color: black; font-size: 14px; font-family: Baskervville; font-weight: 400; word-wrap: break-word">remember  me</div>
    <div style="width: 381px; height: 64px; left: 529px; top: 205px; position: absolute; color: black; font-size: 64px; font-family: Baskervville; font-weight: 400; word-wrap: break-word">Reader Radar</div>
    <div style="left: 529px; top: 342px; position: absolute; color: black; font-size: 20px; font-family: Baskervville; font-weight: 400; word-wrap: break-word">username</div>
    <form action = "username">
        <input name = "username" required style="width: 381px; height: 57px; left: 529px; top: 381px; position: absolute; background: #FFFAF8; border-radius: 40px; border: 1px black solid"></div>
    <div style="left: 529px; top: 460px; position: absolute; color: black; font-size: 20px; font-family: Baskervville; font-weight: 400; word-wrap: break-word">password</div>
    <div style="left: 529px; top: 678px; position: absolute; color: black; font-size: 20px; font-family: Baskervville; font-weight: 400; word-wrap: break-word">Reader Radar is a free website for readers to<br/>track your reading and find new books. </div>
    <div style="width: 381px; height: 57px; left: 529px; top: 499px; position: absolute; background: #FFFAF8; border-radius: 40px; border: 1px black solid"></div>
    <img style="width: 173px; height: 162px; left: 472px; top: -10px; position: absolute" src="../Assets/pile-books-cup-tea-glasses-600nw-2494680319-removebg-preview 1.png" />
    <img style="width: 217px; height: 160px; left: 140.54px; top: 823px; position: absolute; transform: rotate(12deg); transform-origin: top left" src="../Assets/pile-books-cup-tea-glasses-600nw-2494680319-removebg-preview 2.png" />
    <img style="width: 217px; height: 160px; left: 1028.70px; top: 630.58px; position: absolute; transform: rotate(-36deg); transform-origin: top left" src="../Assets/pile-books-cup-tea-glasses-600nw-2494680319-removebg-preview 3.png" />
    <img style="width: 146px; height: 157px; left: 43px; top: 80px; position: absolute" src="../Assets/pile-books-cup-tea-glasses-600nw-2494680319-removebg-preview 6.png" />
    <img style="width: 146px; height: 157px; left: 1041px; top: 48px; position: absolute" src="../Assets/pile-books-cup-tea-glasses-600nw-2494680319-removebg-preview 9.png" />
    <img style="width: 205px; height: 178px; left: 1187px; top: 263px; position: absolute" src="../Assets/pile-books-cup-tea-glasses-600nw-2494680319-removebg-preview 11.png" />
    <img style="width: 174px; height: 181px; left: 1218px; top: 843px; position: absolute" src="../Assets/pile-books-cup-tea-glasses-600nw-2494680319-removebg-preview 13.png" />
    <img style="width: 174px; height: 181px; left: 57.81px; top: 544px; position: absolute; transform: rotate(20deg); transform-origin: top left" src="h../Assets/pile-books-cup-tea-glasses-600nw-2494680319-removebg-preview 14.png" />
    <img style="width: 185px; height: 178px; left: 231px; top: 397px; position: absolute" src="../Assets/pile-books-cup-tea-glasses-600nw-2494680319-removebg-preview 15.png" />
    <img style="width: 185px; height: 178px; left: 910px; top: 858px; position: absolute" src="../Assets/pile-books-cup-tea-glasses-600nw-2494680319-removebg-preview 15.png" />
    <div style="width: 31px; height: 31px; left: 535px; top: 594px; position: absolute; background: #FFFAF8; border: 1px black solid"></div>
    <div style="width: 133px; height: 40px; left: 777px; top: 591px; position: absolute; background: #2F7A7A; border-radius: 16px"></div>
    <div style="width: 46px; height: 12px; left: 821px; top: 601px; position: absolute; color: white; font-size: 14px; font-family: Baskervville; font-weight: 400; word-wrap: break-word">Sign In</div>
    <div style="width: 133px; height: 40px; left: 780px; top: 765px; position: absolute; background: #2F7A7A; border-radius: 16px"></div>
    <div style="width: 51px; height: 12px; left: 821px; top: 775px; position: absolute; color: white; font-size: 14px; font-family: Baskervville; font-weight: 400; word-wrap: break-word">Sign Up</div>
</div>
