<head>
<meta charset = "UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Reader Radar</title>
<link href="https://fonts.googleapis.com/css2?family=Baskervville&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style = "background-color: #fffaf8;">

<div class="topnav">
    <a href="/">Reader Radar</a>
    <a href="/library">Library</a>
    <form action="/search" method="POST" style="display: inline;">
      <input type="text" name="query" placeholder="Search Books" required>
      <button type="submit">
          <img src="{{ url_for('static', filename='Assets/search.png') }}" alt="Search">
      </button>
    </form>
</div>

<div class="popular-section">
  <div style="padding-top: 50px;">
  </div>
  <h1 class="section-title">Results</h1>
  </div>
  <div class="recommendation-grids" id="recommendationGrids">
  </div>
  <div style="padding-bottom: 100px;">
</div>

<div class="recommendation-grids" id="recommendationGrids">
{% for book in books %}
<div class="recommendation-grid">
    <div class="recommendation-image">
      {% include "cover.html" with context %}
    </div>
    <div class="recommendation-content">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h1 class="section-title" style="margin: 0;">{{ book.title }}</h1>
    </div>
    <h2 style="margin: 5px 0;">{{ book.author }}</h2>
    <p id="rec_synopsis">{{ book.synopsis }}</p>
    {% include "list_button.html" with context %}
    </div>
</div>
{% endfor %}
</div>

</body>
</html>
