<head>
<meta charset = "UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Reader Radar</title>
<link href="https://fonts.googleapis.com/css2?family=Baskervville&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<div class="topnav">
    <a href="#ReaderRadar" class="active">Reader Radar</a>
    <a href="#Library">Library</a>
    <input type="text" placeholder="Search Books">
    <button type="submit">
        <img src="../Assets/search.png" alt="Search">
    </button>
</div>

<div class="popular-section">
    <div style="padding-top: 50px;">
    </div>
    <h1 class="section-title">Popular Right Now</h1>
    <div class="popular-grid">
      <div class="card">
        <img src="https://placehold.co/395x600" alt="Item 1" />
        <div class="button">Add to wishlist</div>
      </div>
      <div class="card">
        <img src="https://placehold.co/391x600" alt="Item 2" />
        <div class="button">Add to wishlist</div>
      </div>
      <div class="card">
        <img src="https://placehold.co/411x600" alt="Item 3" />
        <div class="button">Add to wishlist</div>
      </div>
    </div>
  </div>

  <div class="recommendation-section">
    <h1 class="section-title">Reccomendation of the Day
    </h1>
    <div class="recommendation-grid">
      <div class="recommendation-image">
        <img src="https://placehold.co/600x800" alt="Recommendation" />
      </div>
      <div class="recommendation-content">
        <h1 class="section-title">Author Name</h1>
        <div class = "stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star unchecked"></span>
            <span class="fa fa-star unchecked"></span>
        </div>
        <textarea placeholder="Enter synopsis here..."></textarea>
      </div>
    </div>
  </div>

</body>
</html>