<!-- add extend base url -->

{% block header %}
  <h1>{% block title %}Book{% endblock %}</h1>
{% endblock %}

{% block content %}

<!-- Display book list name -->
<h1>Current Reads</h1>

<div class="book-list">
    {% for book in current %}
    <div class="book-item">
        <h3>{{ book.title }}</h3>
        <form method="POST" action="/move-book">
            <input type="hidden" name="book_id" value="{{ book.id }}">
            
            <!-- Current list the book belongs to -->
            <input type="hidden" name="old_list_name" value="Current Reads">
            
            <!-- Select a new list to move the book to -->
            <label for="new_list">Move to List:</label>
            <select name="new_list_name" id="new_list_name">
                <option value="Current Reads" {% if current_list_name == "Current Reads" %}disabled{% endif %}>Current Reads</option>
                <option value="Unread" {% if current_list_name == "Unread" %}disabled{% endif %}>Unread</option>
                <option value="Wish List" {% if current_list_name == "Wish List" %}disabled{% endif %}>Wish List</option>
                <option value="Finished" {% if current_list_name == "Finished" %}disabled{% endif %}>Finished</option>
                <option value="Remove Book" {% if current_list_name == "Remove Book" %}disabled{% endif %}>Remove Book</option>
            </select>
            
            <button type="submit">Move to List</button>
          </form>
    </div>
    {% endfor %}
</div>


<!-- Display book list name -->
<h1>Unread</h1>

<div class="book-list">
    {% for book in unread %}
    <div class="book-item">
        <h3>{{ book.title }}</h3>
        <form method="POST" action="/move-book">
            <input type="hidden" name="book_id" value="{{ book.id }}">
            
            <!-- Current list the book belongs to -->
            <input type="hidden" name="old_list_name" value="Unread">
            
            <!-- Select a new list to move the book to -->
            <label for="new_list">Move to List:</label>
            <select name="new_list_name" id="new_list_name">
                <option value="Current Reads" {% if current_list_name == "Current Reads" %}disabled{% endif %}>Current Reads</option>
                <option value="Unread" {% if current_list_name == "Unread" %}disabled{% endif %}>Unread</option>
                <option value="Wish List" {% if current_list_name == "Wish List" %}disabled{% endif %}>Wish List</option>
                <option value="Finished" {% if current_list_name == "Finished" %}disabled{% endif %}>Finished</option>
                <option value="Remove Book" {% if current_list_name == "Remove Book" %}disabled{% endif %}>Remove Book</option>
            </select>
            
            <button type="submit">Move to List</button>
          </form>
    </div>
    {% endfor %}
</div>

<!-- Display book list name -->
<h1>Wishlist</h1>

<div class="book-list">
    {% for book in wish_list %}
    <div class="book-item">
        <h3>{{ book.title }}</h3>
        <form method="POST" action="/move-book">
            <input type="hidden" name="book_id" value="{{ book.id }}">
            
            <!-- Current list the book belongs to -->
            <input type="hidden" name="old_list_name" value="Wish List">
            
            <!-- Select a new list to move the book to -->
            <label for="new_list">Move to List:</label>
            <select name="new_list_name" id="new_list_name">
                <option value="Current Reads" {% if current_list_name == "Current Reads" %}disabled{% endif %}>Current Reads</option>
                <option value="Unread" {% if current_list_name == "Unread" %}disabled{% endif %}>Unread</option>
                <option value="Wish List" {% if current_list_name == "Wish List" %}disabled{% endif %}>Wish List</option>
                <option value="Finished" {% if current_list_name == "Finished" %}disabled{% endif %}>Finished</option>
                <option value="Remove Book" {% if current_list_name == "Remove Book" %}disabled{% endif %}>Remove Book</option>
            </select>
            
            <button type="submit">Move to List</button>
          </form>
    </div>
    {% endfor %}
</div>

<!-- Display book list name -->
<h1>Finished</h1>

<div class="book-list">
    {% for book in finished %}
    <div class="book-item">
        <h3>{{ book.title }}</h3>
        <form method="POST" action="/move-book">
            <input type="hidden" name="book_id" value="{{ book.id }}">
            
            <!-- Current list the book belongs to -->
            <input type="hidden" name="old_list_name" value="Finished">
            
            <!-- Select a new list to move the book to -->
            <label for="new_list">Move to List:</label>
            <select name="new_list_name" id="new_list_name">
                <option value="Current Reads" {% if current_list_name == "Current Reads" %}disabled{% endif %}>Current Reads</option>
                <option value="Unread" {% if current_list_name == "Unread" %}disabled{% endif %}>Unread</option>
                <option value="Wish List" {% if current_list_name == "Wish List" %}disabled{% endif %}>Wish List</option>
                <option value="Finished" {% if current_list_name == "Finished" %}disabled{% endif %}>Finished</option>
                <option value="Remove Book" {% if current_list_name == "Remove Book" %}disabled{% endif %}>Remove Book</option>
            </select>
            
            <button type="submit">Move to List</button>
          </form>
    </div>
    {% endfor %}
</div>

{% endblock %}
