<!-- add extend base url -->

{% block header %}
  <h1>{% block title %}Book{% endblock %}</h1>
{% endblock %}

{% block content %}

<!-- Display book list name -->
<h1>Current Reads</h1>

<div class="book-list">
    {% for book in current %}
    <div class="book-item">
        <h3>{{ book.title }}</h3>
        {% include "_move_book_form.html" with book=book current_list_name="Current Reads" %}
    </div>
    {% endfor %}
</div>


<!-- Display book list name -->
<h1>Unread</h1>

<div class="book-list">
    {% for book in unread %}
    <div class="book-item">
        <h3>{{ book.title }}</h3>
        {% include "_move_book_form.html" with book=book current_list_name="Unread" %}
    </div>
    {% endfor %}
</div>

<!-- Display book list name -->
<h1>Wishlist</h1>

<div class="book-list">
    {% for book in wish_list %}
    <div class="book-item">
        <h3>{{ book.title }}</h3>
        {% include "_move_book_form.html" with book=book current_list_name="Wish List" %}
    </div>
    {% endfor %}
</div>

<!-- Display book list name -->
<h1>Finished</h1>

<div class="book-list">
    {% for book in finished %}
    <div class="book-item">
        <h3>{{ book.title }}</h3>
        {% include "_move_book_form.html" with book=book current_list_name="Finished" %}
    </div>
    {% endfor %}
</div>

{% endblock %}
